* {
  /*//https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
  /*The box-sizing CSS property sets how the total width and height of an element is calculated.*/
  /*The width and height properties include the content, padding, and border, but do not include the margin.*/
  /*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements.*/
  box-sizing: border-box;
}


body {
  font-family: Arial;
  margin: 0;
}


header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here 
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
Flex-wrap attempts to line up all items in a row
The "wrap" parameter allows elements to wrap if they don't fit horizontally
*/
main {
  display: flex;
  flex-wrap: wrap;
}


aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
justify-content arranges the elements in a row based on the parameter
In this case, "center" removes space between the elements,
and adds equal space on the right and left
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here?
Flex is shorthand for flex-grow / flex-shrink / flex-basis
i.e.:    `flex: flex-grow flex-shrink flex-basis`
flex-grow: 0
flex-shrink: 0
flex-basis (default size) 400px
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
flex-direction is setting the stack direction,
in this case vertical (column)
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
